:root {
  --size: 16px;
}
.terrain-helper {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  .inactive {
    opacity: .7;
  }
  .terrain {
    display: grid;
    gap: 1px;
  }
  .status {
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%) rotate(-24deg);
    text-transform: uppercase;
    font-weight: bold;
  }
  .looser {
    color: darkred;
  }
  .winner {
    color: #369108;
  }
  .disconnect {
    color: lightgray;
    font-size: 6em;
  }
}
