<ng-container *ngIf='(error | async) else game'>
  <div class='mat-error'>
    <pre>
  Illegal room or player name. Room name and Player name are required. please follow ulr format:
  • http:&#47;&#47;&#10092;server_name_or_ip&#10093;:&#10092;port&#10093;/#&#10092;room&#10093;[&#10092;player_name&#10093;]
  room : name of the game to join,
  player_name : name of the player
    </pre>
  </div>
  <a href='/#ExapleRoom[ExamplePlayerName]'>Example</a>
</ng-container>
<ng-template #game>
  <ng-container *ngIf='settings$ | async as settings'>
  <ng-container *ngIf='profile$ | async as profile'>
    <div>{{profile.room}} {{profile.name}}</div>
    <red-tetris-init-game></red-tetris-init-game>
    {{profile | json}}
<!--    <ng-container *ngIf='profile.inGame'>-->
      <div class='terrain-wrapper enemy-terrain-wrapper'>
        <ng-container *ngIf='playerList$ | async as playerList'>
          <div *ngFor='let playerTerrain of playerList' class='enemy-terrain'>
            <red-tetris-terrain [player]="'terrain.' + playerTerrain" [title]='playerTerrain'
                                [terrainCol]='settings.width'
            ></red-tetris-terrain>
          </div>
        </ng-container>
      </div>
    <div class='terrain-wrapper main-wrapper'>
      <div [ngStyle]="{'width': '400px'}">
        <red-tetris-terrain [player]="'terrain.' + profile.name" [terrainCol]='settings.width'></red-tetris-terrain>
      </div>
      <div class='info-wrapper'>
        <red-tetris-info-widget></red-tetris-info-widget>
        <div [ngStyle]="{'width': '100px'}">
          <red-tetris-terrain [player]="'pieceSerial.update'" [terrainCol]='settings.previewRow'></red-tetris-terrain>
        </div>
      </div>
    </div>
<!--    </ng-container>-->
    <!--<div (click)="location.go('roo!!m[roo dt]')">test</div>-->
    <!--    <div class='terrain-wrapper'>-->
    <!--      <div [ngStyle]="{'width': '400px'}">-->
    <!--        <red-tetris-terrain player='adminTerrain'></red-tetris-terrain>-->
    <!--      </div>-->
    <!--      <div [ngStyle]="{'width': '200px'}">-->
    <!--        <red-tetris-terrain player='otherTerrain'></red-tetris-terrain>-->
    <!--      </div>-->
    <!--    </div>-->
  </ng-container>
  </ng-container>
</ng-template>
