<ng-container *ngIf='profile$ | async as profile'>
  <mat-accordion multi *ngIf='playerList$ | async as players'>
    <mat-expansion-panel *ngFor="let player of players">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ player }}
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <div *redTetrisSecure='role.ADMIN'>
    <button mat-raised-button color="primary" (click)='startGame()'>Start Game!</button>
  </div>
  <ng-container *ngIf='!profile.inGame'>
    <ng-container *ngIf='profile.role === role.ADMIN else wait'>
      <div>      hello admin start game when ready
      </div>
    </ng-container>
    <ng-template #wait>
      <div>
        please wait game start
      </div>
    </ng-template>
  </ng-container>
</ng-container>
