:root {
  --size: 16px;
}
.terrain-helper {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0;
  .border {
    background-color: #b0b0b0;
    padding: 0 var(--border) var(--border) var(--border);
  }
  .terrain {
    background-color: var(--background);
    display: grid;
    gap: 1px;
  }
  .status {
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%) rotate(-24deg);
    text-transform: uppercase;
    font-weight: bold;
  }
  .looser {
    color: darkred;
  }
  .winner {
    color: #369108;
  }
  .disconnect {
    color: lightgray;
    font-size: 6em;
  }
}
