<div class='about-title'>
  Red Tetris
</div>
<article>
  <a href='https://21-school.ru/'>21-school</a> project
  The goal of this project is to develop a multiplayer tetris game on the network with a set of software exclusively
  from Full Stack Javascript.
</article>
<article>
  <a href='https://en.wikipedia.org/wiki/Tetris'>Tetris</a> is a puzzle game, whose subject is to contain falling pieces
  as
  long as possible in a Playground. The game is over when the field no longer offers enough
  room for a new piece to fall. When one or more lines of land are complete, they disappear,
  allowing to postpone the expiry of the game.
  The game is based on these <a href='https://harddrop.com/wiki/Tetris_Wiki'>basics</a> but is played between several
  players.
  Each player has his own playing field, all players undergo the same series of pieces.
  As soon as a player destroys lines on his ground, the opposing players receive n - 1 lines
  in penalty, then indestructible, which fit at the bottom of their playground.
  A <a href='https://en.wikipedia.org/wiki/Tetromino'>terrain</a> consists of 10 columns and 20 lines. Each player can
  graphically observe the
  list of his opponents (name) and the specter of their land. For each column, a spectrum
  indicates the first line occupied by a piece without providing any details about occupation
  of the following lines. As soon as the terrain is updated, all opponents visualize the
  evolution of their spectrum.
</article>
<article class='links'>
  <div class='links-block'>
    <strong>Author:</strong>
    <a mat-flat-button href='https://github.com/Xel4ek' target='_blank'><img
      src='https://avatars.githubusercontent.com/u/49572774?v=4' alt='' class='avatar'>Hwolf</a>
    <a mat-flat-button href='https://github.com/cyberforge12' target='_blank'><img
      src='https://avatars.githubusercontent.com/u/50057691?v=4' alt='' class='avatar'>Mmanhack</a>
  </div>
  <div class='links-block'>
    <strong>Project page:</strong>
    <a mat-flat-button href='https://github.com/Xel4ek/red-tetris' target='_blank'>
      <svg height='32' aria-hidden='true' viewBox='0 0 16 16' width='32' data-view-component='true'
           class='avatar'>
        <path fill-rule='evenodd'
              d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z'></path>
      </svg>
      Red Tetris </a>
  </div>
</article>
<article>
  <div class='start-button' [ngStyle]="{'justify-content': 'flex-end'}">
    <button mat-raised-button color='primary' redTetrisBackButton>Back</button>
  </div>
</article>
