:host {
  font-size: 16px;
  padding: 2rem;
}
.logo {
  max-width: 81px;
}

.avatar {
  overflow: hidden;
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
article {
  text-indent: 1rem;
  text-align: justify;
  max-width: 840px;
  margin: auto;
  padding-bottom: 1rem;
  line-height: 1.7;
}
.links {
  display: flex;
  justify-content: space-around;

  &-block {
  display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}

