<div *ngIf="profile$ | async as profile">
  <ng-container *ngIf="!profile.inGame">
    <ng-container *ngIf="profile.role === role.ADMIN; else wait">
      <red-tetris-help>
        Hello {{ profile.name }}! You are admin on this room. Start game when
        ready
      </red-tetris-help>
    </ng-container>
    <ng-template #wait>
      <red-tetris-help>
        Hello {{ profile.name }}! Please wait when admin start the game
      </red-tetris-help>
    </ng-template>
  </ng-container>
  <mat-accordion multi *ngIf="playerList$ | async as players">
    <mat-expansion-panel *ngFor="let player of players">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ player.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ roleName[player.role] }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="info">
        <div>Single Player:</div>
        <div>
          <mat-icon svgIcon="single" class="icon single"></mat-icon>
          {{ player.score }}
        </div>
        <div>Multi Player:</div>
        <div>
          <mat-icon svgIcon="swords" class="icon multi"></mat-icon>
          {{ player.pvp }}
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <ng-container *ngIf="!profile.inGame">
    <div
      class="start-button"
      *redTetrisSecure="role.ADMIN"
      [ngStyle]="{ 'justify-content': 'flex-end' }"
    >
      <button mat-raised-button color="primary" (click)="startGame()">
        Start Game!
      </button>
    </div>
    <div class="start-button">
      <button routerLink="/" mat-raised-button color="primary">Quit</button>
      <a
        mat-button
        href="/leaderboards"
        mat-raised-button
        color="primary"
        target="_blank"
      >
        Leaderboards
      </a>
    </div>
  </ng-container>
</div>
